                <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <a href="#" class="nav-link">
                <div class="nav-profile-image">
                  <img src="/assets1/images/original-2021NLFLOGORGB.png" alt="profile">
                  <span class="login-status online"></span>
                  <!--change to offline or busy as needed-->
                    
                </div>
                <div class="nav-profile-text d-flex flex-column">
                  <span class="font-weight-bold mb-2">Muhameed sinvan</span>
                  <span class="text-secondary text-small">Admin of new look</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Products</span>
                <i class="menu-arrow"></i>
               
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/admin/admin-addproduct">Add Product</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/admin/admin-allproduct">All Product</a></li>
                   <li class="nav-item"> <a class="nav-link" href="/admin/admin-addcatagory">Add catagory</a></li>
                   <li class="nav-item"> <a class="nav-link" href="/admin/admin-addbrand">Add Brand</a></li>
                   <li class="nav-item"> <a class="nav-link" href="/admin/admin-viewbrand">View Brand</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/admin-userdetail">
                <span class="menu-title">Users</span>
                <i class="mdi mdi-contacts menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/order-history">
                <span class="menu-title">All Orders</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/admin-banner">
                <span class="menu-title">Banner Mangement</span>
              </a>
            </li>
           <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#general-pages1" aria-expanded="false" aria-controls="general-pages">
                <span class="menu-title">Offer Mangement</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-medical-bag menu-icon"></i>
              </a>
              <div class="collapse" id="general-pages1">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/admin/admin-offercat"> Add catagory Offer </a></li>
                  <li class="nav-item"> <a class="nav-link" href="/admin/admin-viewoffercat"> View catagory Offer </a></li>
                  <li class="nav-item"> <a class="nav-link" href="/admin/admin-coupen"> Add Coupen </a></li>
                     <li class="nav-item"> <a class="nav-link" href="/admin/admin-viewcoupen"> View Coupen </a></li>
                     <li class="nav-item"> <a class="nav-link" href="/admin/add-offer"> Add Product Offer </a></li>
                     <li class="nav-item"> <a class="nav-link" href="/admin/viewprooffer"> View Product Offer </a></li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages">
                <span class="menu-title">Reportes</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-medical-bag menu-icon"></i>
              </a>
              <div class="collapse" id="general-pages">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/admin/stockreport"> Stock Report </a></li>
                  <li class="nav-item"> <a class="nav-link" href="/admin/salesreport"> Sales Report </a></li>
                  <li class="nav-item"> <a class="nav-link" href="/admin/userreport"> users Report </a></li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
        <!-- partial --> 