
            <!-- Footer -->
            <footer id="footer" class="footer-3 footer">
                <div class="site-footer">
                    <div class="footer-top">
                        <div class="container">
                            <!-- Footer Links -->
                            <div class="row">

                                <div class="col-12 col-sm-12 col-md-4 col-lg-3 footer-links">
                                    <h4 class="h4">Quick Links</h4>
                                    <ul>
                                        <li><a href="#">Clearance Sale</a></li>
                                        <li><a href="#">Men Clothing 20% Off</a></li>
                                        <li><a href="#">Women Clothing 50% Off</a></li>
                                        <li><a href="#">70% off on Kids</a></li>
                                        <li><a href="#">Big Sale</a></li>
                                        <li><a href="#">New In</a></li>
                                    </ul>
                                </div>
                                <div class="col-12 col-sm-12 col-md-4 col-lg-3 footer-links">
                                    <h4 class="h4">Help</h4>
                                    <ul>
                                        <li><a href="#">FAQs</a></li>
                                        <li><a href="#">My Orders</a></li>
                                        <li><a href="#">Terms And Conditions</a></li>
                                        <li><a href="#">Shipping Policy</a></li>
                                        <li><a href="#">Returns & Exchange</a></li>
                                        <li><a href="#">Ordering & Payment</a></li>
                                    </ul>
                                </div>
                                <div class="col-12 col-sm-12 col-md-4 col-lg-3 footer-links">
                                    <h4 class="h4">Sale</h4>
                                    <ul>
                                        <li><a href="#">Mens Wear</a></li>
                                        <li><a href="#">Womens Wear</a></li>
                                        <li><a href="#">Boys Fashion</a></li>
                                        <li><a href="#">Girls Fashion</a></li>
                                        <li><a href="#">Baby Dress</a></li>
                                    </ul>
                                </div>
                            <!-- End Footer Links -->
                        </div>
                    </div>

                    <div class="footer-bottom">
                        <div class="container">
                            <div class="row">
                                <!-- Footer Copyright -->
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 copyright text-center"><span>&copy; 2021 NEW LOOK</span> All Rights Reserved.</div>
                                <!-- End Footer Copyright -->
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End Footer -->
