<section style="min-height: 70vh;">
            <!-- Body Content -->
            <div id="page-content">
                <!-- Page Title -->
                <div class="page section-header text-center mb-0">
                    <div class="page-title">
                        <div class="wrapper"><h1 class="page-width">Change Your Password</h1></div>
                    </div>
                </div>
                <!-- End Page Title -->
                <!-- Breadcrumbs -->
                <div class="bredcrumbWrap bredcrumbWrapPage bredcrumb-style2 text-center">
                    <div class="container breadcrumbs">
                        <a href="/" title="Back to the home page">Home</a><span aria-hidden="true">|</span><span class="title-bold">Change Password</span>
                    </div>
                </div>
                <!-- End Breadcrumbs -->

                <div class="container">
                    <div class="row">
                        <!-- Main Content -->
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 box offset-md-3">
                            <div class="mb-4">
                                <form method="post" action="/change-password" accept-charset="UTF-8" class="customer-form" onsubmit="return changevalidation()">	
                                    <h3>Change your password here</h3>
                                    <p>Please Enter Your New password</p>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label for="CustomerEmail">Enter your current password <span class="required">*</span></label>
                                                <input type="password" name="currentpassword" placeholder="password" id="currentpassword" autofocus />
                                                 <p id="Passwordse" class="text text-danger" ></p> 
                                            </div>
                                        </div>
                                    </div>
                                       <div class="row">
                                        <div class="col-1changepassword2 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label for="CustomerEmail">Enter new password <span class="required">*</span></label>
                                                <input type="password" name="password" placeholder="Enter new password" id="password" autofocus />
                                                <p id="ConfirmPasswords" class="text text-danger" ></p>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label for="CustomerEmail">Confirm password <span class="required">*</span></label>
                                                <input type="password" name="" placeholder="Confirm password" id="confirmpassword" autofocus />
                                                <p id="ConfirmPasswords" class="text text-danger" ></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="text-left col-12 col-sm-12 col-md-12 col-lg-12">
                                            <input type="submit" class="btn mb-3" value="Submit">
                                            <p class="mb-4">
                                                <a href="/">« Back To Home</a>
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- End Main Content -->
                    </div>
                </div>
            </div>
            <!-- End Body Content -->
            </section>

    <script>
        function changevalidation(){
            var curentpassword = document.getElementById("currentpassword").value;
  var password = document.getElementById("password").value;
              var confirmPassword = document.getElementById("confirmpassword").value;

               if (curentpassword == "") {
    document.getElementById("Passwordse").innerHTML =
      " Please enter the fieled";
    return false;
  }


                if (password == "") {
    document.getElementById("Passwords").innerHTML =
      " Please enter the fieled";
    return false;
  }


  if (confirmPassword == "") {
    document.getElementById("ConfirmPasswords").innerHTML =
      " please enter the fieled";
    return false;
  }
  if (password.length <= 6 || password.length > 16) {
    document.getElementById("Passwords").innerHTML =
      " Password lenght must be between  6 and 16";
    return false;
  }

  if (password != confirmPassword) {
    document.getElementById("ConfirmPasswords").innerHTML =
      "  Password does not match ";
    return false;
  }
        }
    </script>