<section style="min-height: 70vh;">
<div id="page-content">
                <!-- Page Title -->
                <div class="page section-header text-center mb-0">
                    <div class="page-title">
                        <div class="wrapper"><h1 class="page-title">Checkout Success</h1></div>
                    </div>
                </div>
                <!-- End Page Title -->
                <!-- Breadcrumbs -->
                <div class="bredcrumbWrap bredcrumb-style2">
                    <div class="container breadcrumbs">
                        <a href="index.html" title="Back to the home page">Home</a><span aria-hidden="true">|</span><span class="title-bold">Checkout Success</span>
                    </div>
                </div>
                <!-- End Breadcrumbs -->

                <div class="container checkout-success-content">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="checkout-success-banner mb-4 mb-lg-5">
                              
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="card border-0 rounded-0">
                                <div class="card-body text-center">
                                    <p class="checkout-success-icon"><i class="icon an an-check-square"></i></p>
                                    <h4 class="card-title">Thank you for your purchase!</h4>
                                    <p class="card-text mb-1">Your order # is: <b>10000123</b>.</p>
                                    <a href="/" class="btn btn-primary mt-3">Continue Shopping</a>
                                    <hr>
                                    <a href="/order-history"><span class="btn btn-dark">Order History</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row my-4 my-lg-5">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="checkout-static-block">
                                <h3>Thank you for  purchasing......</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </section>